/*
Aqui escribe tu codigo de CSS.
*/
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
	background-color:#f9cc95;
}

body {
    display: table-cell;
    vertical-align: middle;
}
div {	
	float: center;
	border-radius: 20px;
	width: 40%;
	height: auto;
	color:blue;
	margin: 20px;
	text-align: center;
	font-family: Arial;
	color: white;
	font-size: 10px;
	text-shadow: 2px 2px 2px #000;
	align:auto;
	font-size:15px;
}
#logoImg{
	display:inline;
	}
#logo2{
	float:right;
	text-align:right;
	display:inline; 
	white-space:nowrap
}
#searchEngine{
	background-color: #4A90E2;
		display: inline-table;
}

#inventario{
	background-color:#BD10E0;
		display: inline-table;

}
#portafolio{
	background-color:#D00241;
		display: inline-table;
}
#battleship{
	background-color: #ab5600;
		display: inline-table;
}
#adivinator{
	background-color: #003366;
		display: inline-table;
}
#correo{
	background-color: #7cbb00;
		display: inline-table;
}

p{
	display:none;
	width:auto;
	height: auto;
	alignment:center;
}

#welcome{
	font-size: 30px;
	text-shadow: 2px 2px 2px #000;
	color: #6AB0F2;
	font-family:Comic Sans MS, Verdana;
}
#footer{
	margin:auto;
	color:#FFF;
	font-family:Courier, Verdana;
}